<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/Stylesheet.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/header-stylesheet.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<h2> Welcome [[${#request.userPrincipal.principal.username}]]</h2>
<br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "customer: ${customersList}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.email}"></td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/}" class="book-now">Home</a>
</body>
</html>
