<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>courses</title>
    <link th:href="@{/css/header-stylesheet.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- HEADER SECTION -->
<header>
<section class="main-header">
    <a style="text-decoration: none" href="/"> <p class="logo-text"><span class="the">the</span>aid</p></a>
    <nav class="header-nav">
        <p sec:authorize="isAuthenticated()" class="welcome-msg">  Welcome <span class="welcome-user">[[${#request.userPrincipal.principal.username}]] </span> !</p>
        <a sec:authorize="hasRole('USER')" th:href="@{/customer-details}" class="home">Account-Details</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin-details}" class="home">Admin-page</a>
        <a class="courses" th:href="@{/show-courses}">Courses</a>
        <a class="home" th:href="@{/}">Home</a>
        <a class="log-in" href="mailto:support@theAid.no">Contact us</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">Log-in</a>
        <a sec:authorize="isAnonymous()" class="book-now" th:href="@{/registrationform}">Sign up</a>
        <a sec:authorize="isAuthenticated()" class="book-now" th:href="@{/login}">Book now</a>

    </nav>
</section>
</header>

<!-- COURSES SECTION -->

    <hr class="hr">
    <section class="courses-cart">
        <div class="course-container">
            <!-- Courses will be displayed here ! -->
        </div>
        <div class="cart-container">
            <h2 class="order-detail">Order Detail</h2>
            <div class="cart">
                <!-- Enrolled courses will be displayed here ! -->
            </div>
        </div>
    </section>


<!-- FOOTER -->
<footer>
    <section class="footer-section">
        <div class="footer-section-one">
            <p class="logo-text"><span class="the footer-the">the</span>aid</p>
            <nav class="footer-nav">
                <a  class="footer-nav-link" th:href="@{/}">Home</a>
                <a class="footer-nav-line">|</a>
                <a  class="footer-nav-link" >Courses</a>
                <a class="footer-nav-line">|</a>
                <a  class="footer-nav-link" href="mailto:support@theaid.no">Contact us</a>
            </nav>
        </div>

        <div class="footer-section-two">
            <div class="footer-address-with-icon">
                <ion-icon name="map"></ion-icon>
                <div class="footer-address">
                    <p class="footer-address-text">Nedrestrandgt 43A</p>
                    <p class="footer-address-text">6020 Ålesund</p>
                </div>
            </div>
            <div class="footer-tlf-with-icon">
                <ion-icon name="call"></ion-icon>
                <p>9876 5412</p>
            </div>
            <div class="footer-support-with-icon">
                <ion-icon name="mail"></ion-icon>
                <p class="footer-address-text">support@theaid.no</p>
            </div>
        </div>


        <div class="footer-section-three">
            <h4 class="footer-join-us">Join us now </h4>
            <p class="footer-join-text">Notified when the courses are available.<br>
                Get overview of your booked courses</p>
            <ion-icon class="footer-join-us-arrow" name="arrow-forward"></ion-icon>
        </div>
    </section>
</footer>
<script type="text/javascript" th:src="@{/js/courses.js}" async></script>
</body>
</html>