<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>You don not have access to this page !</h1>
<button class="cancel-button"><a th:href="@{/}">Home</a></button>
</body>
</html>