<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link th:href="@{/css/registration.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<section class="signup-container">

    <p class="sign-up-header">Login</p>

    <form th:action="@{/login}" class="form-login" method="POST">
        <div class="input-fields">
            <label for="login-email" class="label">Email : </label>
            <input id="login-email" type="email" name="email"  placeholder="Email">
        </div>

        <div class="input-fields">
            <label for="login-password" class="label">Password : </label>
            <input id="login-password" type="password" name="password"  placeholder="password">
        </div>
        <p th:if="${param.error}" class="error-msg-login">Invalid username or password</p>
        <button type="submit" class="save-button" >Login</button>
    </form>

    <button class="cancel-button"><a th:href="@{/registrationform}"> Create new account ? </a></button>
    <button class="cancel-button"><a th:href="@{/}">Home</a></button>
</section>


</body>
</html>