<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success-message</title>
    <link th:href="@{/css/Stylesheet.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/header-stylesheet.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<br>
<h2>Your account has been successfully created !</h2>
<br>
<a th:href="@{/}" class="book-now">Home</a>
<a th:href="@{/login}" class="book-now">Log-in</a>
</body>
</html>