<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registration form</title>
    <link th:href="@{/css/registration.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<section class="signup-container">
    <p class="sign-up-header"> Create new account </p>

    <form  th:action="@{/save-customer}" method="POST" th:object="${customer}" autocomplete="off">

        <div class="input-fields">
            <label for="first-name" class="label"> First name : </label>
            <input class="input" id="first-name" placeholder="Firstname" required th:field="*{firstName}" type="text"/>
            <p class="error-msg" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">Name Error</p>
        </div>

        <div class="input-fields">
            <label for="last-name" class="label"> Last name : </label>
            <input class="input" id="last-name" type="text" th:field="*{lastName}" required placeholder="Lastname" />
            <p class="error-msg" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</p>
        </div>

        <div class="input-fields">
            <label for="password" class="label"> Password :    </label>
            <input class="input" id="password" type="password" th:field="*{password}" required placeholder="Password" />
            <p class="error-msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
        </div>

        <div class="input-fields">
            <label for="email" class="label"> Email :</label>
            <input class="input" id="email" type="email" th:field="*{email}" required placeholder="email" />
            <p class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
        </div>

        <button class="save-button" type="submit">Register</button>
        <button class="cancel-button"><a th:href="@{/}">Home</a></button>
    </form>

</section>
</body>
</html>