<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/registration.css}" rel="stylesheet" type="text/css" />
<head>
    <meta charset="UTF-8">
    <title>login</title>

</head>
<body>
<section class="signup-container">
    <div>
<form class="input-fields-review" th:action="@{/save-review}" method="POST" th:object="${reviews}" autocomplete="off">

    <label for="review-text" class="label">Feedback : </label>
    <textarea id="review-text"  th:field="*{review}"
           placeholder="Your feedback here" required />
    <button class="cancel-button save-review" type="submit" >Send</button>
</form>
    </div>
<button class="cancel-button"><a th:href="@{/}">Home</a></button>
</section>


</body>
</html>