<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success-message</title>
    <link th:href="@{/css/Stylesheet.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/header-stylesheet.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<br>
<h2>Your review has been successfully registered ! <br>
    Reviews are listed under account-details.
</h2>
<br>
<a th:href="@{/}" class="book-now">Home</a>

</body>
</html>