<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update customer</title>
    <link th:href="@{/css/registration.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<h2> Update account details</h2>

<hr>
<form th:action="@{/updateCustomer}" method="PUT" th:object="${customer}">
    <input type="text" th:value="@{customer.firstName}" th:field="*{firstName}" required placeholder="Firstname" />
    <input type="text" th:value="@{customer.lastName}" th:field="*{lastName}" required placeholder="Lastname" />
    <input type="password" th:field="*{password}" required placeholder="Password" />

    <button type="submit">update</button>
</form>
<hr>
<a th:href="@{/}">Home</a>

</body>
</html>