/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
    color: #555;
    font-size: 1.8rem;
}

.account-details{
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 4rem;

}
.hello-user{
    font-weight: 500;
    margin-bottom: 2rem;
}

.account-details-table-single,
.edit-profile,
.my-courses,
.enrolled-courses-null,
.enrolled-courses,
.my-reviews,
.my-update,
.update-container{
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.my-courses{
    margin-top: 4rem;
    margin-bottom: 2rem;
}

th,td{
    padding: 1rem 1rem;
}

.enrolled-courses-null{
    color: #d23f3f;
}

.enrolled-courses-name{
    margin-bottom: 1rem;

}

.account-details-img{
    width: 100%;
    height: 40rem;
    margin-top: -2rem;
}

.update-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
#update,
#button-save{
    padding: 1rem 2rem;
    background-color: #d23f3f;
    color: #f1f1f1;
    font-weight: bold;
}

.remove,
#button-cancel{
    margin-top: .5rem;
    padding: 1rem 2rem;
    font-weight: bold;
}

