

/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{

    font-family: 'Inter', sans-serif;
    color: #555;
    font-size: 1.8rem;
}

/* ---HEADER SECTION--- */

.main-header{
    max-width: 180rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3rem 2.8rem;
    position: relative;
    margin-bottom: 2rem;
}
.logo-text{
    font-weight: 700;
    color: #d23f3f;
    font-size: 5.5rem;
    letter-spacing: .3rem;
}
.the{
    font-weight: 600;
    font-size: 4rem;
    color: #333;
}
.header-nav{
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
}
nav a{
    text-decoration: none;
    color: #333;
    padding: 1.2rem 1.8rem;
}
nav a:link,
nav a:visited,
.hero-courses:link,
.hero-courses:visited
{
    text-decoration: none;
}
.hero-courses:link,
.hero-courses:visited{
    color: #f1f1f1;
}
.hero-courses:hover,
.hero-courses:active{
    text-decoration: none;
}
nav a:hover,
nav a:active{
    background-color: #da4f4f;
    color: #fff;
}
.book-now:hover,
.book-now:active{
    background-color: #da4f4f;
    color: #f1f1f1;
    transition-duration: .5s;
}
.book-now{
    background-color: rgba(218, 79, 79, 0.81);
    color: #fff;
}
.courses{
    border: #da4f4f solid;
}
.welcome-msg{
    font-size: 1.8rem;
}
.welcome-user{
    font-size: 2rem;
    color: #d23f3f;
}

/* for tablets about 1050px width */
@media screen and (max-width: 65em) and (min-width: 35em) {
    .main-header {
        display: flex;
        flex-direction: column;
    }
    .header-nav {
        flex-direction:row;
        justify-content: flex-end;
    }
}

/* the css regarding the hamburger menu borrowed from a youtube tutorial : https://www.youtube.com/watch?v=flItyHiDm7E */
/* for smartphones about 450px width */
@media screen and (max-width: 35em) {
    .main-header {
        position: fixed;
        width: 100%;
        background-color: white;
        height: 10rem;
    }
    .hamburger {
        display: block;
        position: fixed;
        right: 3rem;
        top: 5rem;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(0.8rem) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-0.8rem) rotate(-45deg);
    }

    .header-nav {
        position: fixed;
        left: -100%;
        /*top: 11rem;*/
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .header-nav.active {
        left: 0;
    }
}


/* ---HERO SECTION--- */

.hero-section-container{
    background-color: #343a40;
    padding: 5rem 0;
    margin-bottom: 8rem;
}
.hero-section{
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: .75fr 1fr;
    align-items: center;
}
.hero-section-img{
    width: 100%;
    border-radius: 0;
    transform: scale(1.1,1.3);
}
.hero-text-we{
    color: #d23f3f;
    font-weight: 500;
    margin-bottom: 1rem;
    letter-spacing: .1rem;

}
.hero-text-heading{
    font-size: 5rem;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 600;

}
.our-courses{
    display: inline-block;
    padding: 1.2rem 1.8rem;
}
.our-courses:hover{
    cursor: pointer;
}
.hero-course{
    grid-template-columns: 1fr;
}


/* --- HERO RESPONSIVE SECTION --- */

/* for tablets about 1050px width */
@media screen and (max-width: 65em) and (min-width: 35em) {
    /* Hides/removes the image and displays just the text */
    .hero-section{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-top: 4rem;
    }

    .hero-section-img {
        visibility: hidden;
        width: 0%;
    }
}

/* for smartphones about 450px width */
@media screen and (max-width: 35em) {
    /* Displays the image in the background */
    .hero-section {
        display: flex;
        flex-direction: column;
        margin-top: 9rem;
        padding-bottom: 0;
    }

    .hero-section-img { /* Should do some edits here to reduce redundant code */
        /* background-image: url("resources/static/resources/images/how-to-become-a-first-aider.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        filter: opacity(10%);
        background-position: center;
        margin-top: -25rem;
        height: 25rem; */
        visibility: hidden;
        width: 0%;
    }

    .hero-text-heading {
        font-size: 3rem;
        padding: 1rem;
    }
    .hero-section p {
        padding-left: 1rem;
    }

    .our-courses {
        margin-left: 1rem;
    }
}


/* ---STATISTIC SECTION--- */

.statistic{
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.statistic-items{
    text-align: left;
}
.heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    color: #555;
}
.number{
    font-size: 5rem;
    color: rgba(210, 63, 63, 0.88);
    font-weight: 700;
}
.aid{
    color: #d23f3f;
}


/* --- STATISTIC RESPONSIVE SECTION --- */

/* for tablets about 1050px width */
@media screen and (max-width: 65em) {
    .statistic {
        display: flex;
        justify-content: space-around;
        grid-gap: 1rem;
        margin-top: -5.5rem;
        margin-bottom: -1rem;
    }

    .statistic-items {
        text-align: center;
    }
    .number {
        font-size: 3rem;
    }
}

/* --BEST SELLER SECTION-- */

.best-seller-section-header{
    max-width: 130rem;
    margin: 13rem auto 6rem auto;
}
.best-seller-section-header p{
    margin: 2rem 0;
}

.best-seller-section
{
    padding: 2.6rem 2rem;
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    margin-bottom: 9rem;
}
.one-day-course
{
     overflow: hidden;
     box-shadow: 0 .5rem .5rem;
     border-radius: .5rem;
} 
.one-day-course-img{
    width: 30rem;
    height: 20rem;
    margin-bottom: 1rem;
    border-radius: 0;
    padding: 0;
}
.course-description{
     padding: 3rem;      
}
.course-description p{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
}
.course-description ul{
  list-style-type: none;
    font-size: 1.4rem;
}
.course-description ul li{
    margin-bottom: 1rem;
}
.one-day-course ul{
    margin-bottom: 2rem;
}
ion-icon{
    color: #d23f3f;
    font-size: 1.8rem;
     --ionicon-stroke-width: 4rem;
}
.best-seller-section-booknow{
    display: inline-block;
    padding: .75rem;
    font-size: 1.8rem;
    border: none;
}

.best-seller-section-booknow:hover{
    cursor: pointer;
}

.one-day-course:hover,
.course-display:hover{
    /*box-shadow: 0 2.4rem 4.8rem rgba(218, 79, 79, 0.6);*/
    box-shadow: 0 1rem 2rem rgba(243, 202, 202, 0.6);
    transition-duration: .5s;
}


/* Responsive Design Best Seller Section */

/* for smartphones about 450px width */
/* for tablets about 1050px width */
@media screen and (max-width: 65em) and (min-width: 36em) {
    .best-seller-section {
        display: flex;
        flex-direction: column;
    }
    .course-description {
        padding: 1rem;
    }
    .one-day-course {
        width: 70%;
    }
    .one-day-course-img {
        width: 100%;
        object-fit: cover;
        height: 15rem;
    }
    .course-description ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

/* for smartphones about 450px width */
@media screen and (max-width: 36em) {
    ion-icon {
        display: none;
    }
    .course-description {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
    }
    /*  .prev, .next {
          display: inline;
      }*/
    .best-seller-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .one-day-course {
        width: 80%;
    }
    .one-day-course-img {
        width: 100%;
        object-fit: cover;
        height: 12rem;
    }
    .course-description ul li {
        display: block;
    }
}


/* --WHY CHOOSE US SECTION-- */

.why-choose-theaid-section{
    max-width: 130rem;
    margin: 0 auto;
    margin-bottom: 14rem;
}
.why-choose-theaid-section-header{
    margin-bottom: 5rem;
}
.why-choose-heading{
    margin-bottom: 2rem;
    font-size: 4rem;

}
.why-choose-facts-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.why-choose-facts-text{
    font-size: 1.8rem;
}
.why-choose-facts-icons{
    margin-bottom: 1rem;
    color: #d23f3f;
    font-size: 3rem;
    --ionicon-stroke-width:3rem;
}
.why-choose-grid{
    max-width: 120rem;
}
.why-choose-facts {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem;
    align-items: center;
}


/* Responsive Design Why Choose Us Section */
/* for tablets about 1050px width */
@media screen and (max-width: 65em) and (min-width: 35em) {
    .why-choose-theaid-section {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .why-choose-facts-heading {
        font-size: 3rem;
    }
    .why-choose-facts {
        grid-template-columns: 1fr 1fr;
    }
}

/* for smartphones about 450px width */
@media screen and (max-width: 35em) {

    .why-choose-theaid-section {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    .why-choose-heading {
        font-size: 3rem;
    }
    .why-choose-facts-heading {
        font-size: 2rem;
    }

    .why-choose-facts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /*.why-choose-facts-icons {
        margin-right: 1rem;
    }*/

    .why-choose-facts-text {
        display: none;
    }

    .why-choose-facts div {
        display: flex;
        margin-top: -2rem;
        margin-bottom: -2rem;
        margin-left: 1rem;
    }
}

/* --CTA SECTION-- */
.cta-section{
    background-color: #495057;
}
.cta{
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr .2fr 1fr;
    margin-bottom: 12rem;
}
.cta-img{
    width: 100%;
    transform: scale(1.2,1.2);
}
.cta-text-box{
    display: grid;
    color: #fff;
   align-content: center;
   justify-content: center;
}
.contact-us{
    margin-top: 3rem;
    padding: 1.2rem 1.8rem;
    border: none;
    width: fit-content;
    cursor: pointer;
}


/* Responsive Design CTA-section */

/*for tablets about 1050px width */
@media screen and (max-width:65em) and (min-width:35em) {
    /* do something for the image here */
}
/* for smartphones about 450px width */
@media screen and (max-width: 35em) {
    .cta .cta-img {
        display: none;
    }
}


/* Testimonial section */

.testimonial-section {
    display: flex;
    align-content: center;
    justify-content: center;
    column-gap: 5rem;
    max-width: 120rem;
    margin: 0 auto;
}

.testimonial {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.quote-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote {
    font-family: serif;
    font-style: italic;
    padding: 2rem;
    width: 30rem;
    height: 14rem;
    text-align: center;
}

.testimonial-name {
    font-size: 2rem;
    font-family: serif;
    font-style: normal;
    text-align: center;
    padding: 0.5rem;
}

/* -------- RESPONSIVE WEB DESIGN -------- */

/* for tablets about 1050px width */
@media screen and (max-width: 65em) and (min-width: 35em) {
    .testimonial-section {
        font-size: 1.6rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem 10rem;
        column-gap: 0;
    }
}

/* for smartphones about 450px width */
@media screen and (max-width: 35em) {
    .testimonial-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 10rem;
        margin-top: 2rem;
    }
}



/*-- FOOTER --*/

footer{
    margin-top: 7rem;
    background-color: #343a40;
}
.footer-section{
    max-width: 180rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 2.8rem;
    gap: 5rem;
    color: #fff;
}
.footer-the{
    color: #fff;
    margin-left: 1.5rem;
}

.footer-nav{
    display: flex;;
    list-style: none;
}
.footer-nav-link{
    color: #fff;
}
.footer-nav-line{
    color: #d23f3f;
}
.footer-join-us{
    color: #d23f3f;
}
.footer-section-two,
.footer-section-three{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-address-with-icon,
.footer-tlf-with-icon,
.footer-support-with-icon{
    display: flex;
    gap: 3rem;
}
.footer-join-us-arrow{
    font-size: 3rem;
    margin-top: -1rem;
}


/* -- Responsive design footer section -- */

/* for tablets about 1050px width */
@media screen and (max-width: 65em) and (min-width: 35em) {
    .footer-section {
        display: flex;
        flex-direction: column;
    }
    .footer-section-two {
        display: flex;
        flex-direction: row;
    }
}

/* for smartphones about 450px width */
@media screen and (max-width: 35em){
    .footer-section {
        display: flex;
        flex-direction: column;
    }
}

/* -- HIDDEN --*/

.hidden{
    display: none;
}



/* -- LOG IN --*/

.pop-up{
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 6rem;
    border-radius: 2px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
    z-index:10;
}
.log-in-form-heading,
.log-in-form-heading-signup{
    color: #d23f3f;
}
.log{
    color: #555555;
}
.log-in-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-login{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.input{
    width: 100%;
    padding: 1rem;
}
.log-in-btn{
    width: 100%;
    padding: 1rem 4rem;
    color: #555555;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    border: none;
}
.new-user{
    font-size: 1.6rem;
    margin-top: -1.5rem;
}

/* -- HIDDEN --*/

.hidden{
    display: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

/* -- COURSES --*/

.hr{
    border: 1px solid red;
    border-radius: .3rem;
}

.courses-cart{
    max-width: 140rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.course-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem ;
    margin-bottom: 3rem;
}
.course-display {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 40rem;
    box-shadow: 0 .5rem .5rem;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 3rem;
}
.course-name{
    font-weight: 600;
    background-color: yellow;
}
.course-name,
.course-page-description,
.course-price,
.options{
    padding: 1rem;
}
.course-price{
    margin-bottom: 2rem;
}
.height-fix{
    flex-grow: 1;
}
.options{
    width: 20rem;
    margin-bottom: .5rem;
}
.enroll-btn{
    display: inline-block;
    padding: .5rem;
}

.cart-container{
    padding: 2rem ;
}
.order-detail{
    margin-bottom: 2rem;
}
.confirm-btn{
    margin-top: 2rem;
    padding: 2rem;
}

.cart-display{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 10rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border: solid #868e96;
}

.cart-display-name{
    font-weight: bold;
}
.danger{
    margin-top: 1rem;
}






