/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    font-family: 'Inter', sans-serif;
    color: #555;
    font-size: 1.8rem;

}
.sign-up-header{
    color: #d23f3f;
    font-weight: 700;
    margin-bottom: 2.5rem;

}
.signup-container{
    padding: 3rem;
    align-content: center;
    width: 60rem;
    height: 30rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 10rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-fields{
    display: flex;
    margin-bottom: 1rem;
}

.label{
    display: inline-block;
    width: 15rem;
}
.input{
    width: 20rem;
}
.save-button{
    font-size: 1.8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    padding: .7rem 1.5rem;
    background-color: #da4f4f;
    color: #f1f1f1;
    margin-top: 3rem;
}
.cancel-button{
    margin-top: 1rem;
    padding: .7rem 1.5rem;

}
.error-msg{
    margin-left: .2rem;
    font-size: 1.2rem;
    font-style: italic;
    color: red;
}

a:visited,a:active,a:link{
    text-decoration: none;
    color: #555;
}

/* -- Reviews --*/
.input-fields-review{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-fields-review label{
    color: #d23f3f;
}
.save-review{
   width: fit-content;
    padding: .6rem 1.8rem;
}
#review-text{
    width: 22rem;
    height: 11rem;
}