/* breakpoints used , tablets: 1050px/ca 65em , phone: 450px/ 35em */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* Use REM as the default for font size
       1 REM = 10 px */
    font-size: 62.5%;
}



/* Testimonial section */
.testimonial-section {
    display: flex;
    align-content: center;
    justify-content: center;
    column-gap: 5rem;
    max-width: 120rem;
    margin: 0 auto;
}

.testimonial {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

/*.testimonial-section img {
    object-fit: cover;
    width: 20rem;
    height:20rem;
    border-radius: 50%;
} */

.quote-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote {
    font-family: serif;
    font-style: italic;
    padding: 2rem;
    width: 30rem;
    height: 14rem;
    text-align: center;
}

.testimonial-name {
    font-size: 2rem;
    font-family: serif;
    font-style: normal;
    text-align: center;
    padding: 0.5rem;
}

/* -------- RESPONSIVE WEB DESIGN -------- */

/* for tablets about 1050px width */
@media screen and (max-width: 65em) and (min-width: 35em) {
    .testimonial-section {
        font-size: 1.6rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 3rem;
    }
}
/* for smartphones about 450px width */
@media screen and (max-width: 35em) {
    .testimonial-section {
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
    }
}




